<!DOCTYPE HTML>
<html>
	<head>
		<title>irclogger_web</title>
	</head>
	<body>
		{{userbar}}
		<h2>Channel list</h2>
		<table border>
			<tr><th>Channel</th><th>Network</th><th>Status</th></tr>
			{{publicChannels}}
			{{privateChannels}}
		</table>
	</body>
</html>
