<!DOCTYPE HTML>
<html>
	<head>
		<title>{{username}}'s panel</title>
	</head>
	<body>
		<h1>User panel</h1>
		<a href="/">Back</a>
		<h3>Change password</h3>
		<form action="change_password_action" method="POST">
			<input name="currentPassword" type="password" placeholder="Current password" /><br />
			<input name="newPassword" type="password" placeholder="New password"><br />
			<input type="submit" value="Change" />
		</form>
		<h3>Delete this account</h3>
		<form action="delete_account_action" method="POST">
			<input name="password" type="password" placeholder="Password" /><br />
			<input type="submit" value="Delete (this operation cannot be reverted!)" />
		</form>
		{{manageChannelAccess}}
		{{addUser}}
		{{updateUser}}
		{{addServer}}
		{{updateServer}}
		{{addChannel}}
		{{updateChannel}}
	</body>
</html>
